/* body {
  display: flex;
  align-items: center;
  justify-content: center;
} */
*/ .card {
  display: flex;
  flex-direction: column;
}
.button {
  color: blue;
  background-color: white;
  border-radius: 10px;
}
#main {
  display: inline-flex;

  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
.main-main {
  display: inline-grid;
}
